
.md-imac {
  font-size: 15px;
  width: 62.5em;
  height: 50em;
  -webkit-transform: translate3d(0, 0, 0);
}
.md-imac .md-body {
  width: 100%;
  height: 43.125em;
  background: #c6c7ca;
  border-radius: 1.875em;
  overflow: hidden;
}
.md-imac .md-top {
  width: 100%;
  height: 37.1875em;
  background: #0f0f0f;
  border-radius: 1.875em 1.875em 0 0;
  position: relative;
}
.md-imac .md-screen {
  width: 57.5em;
  height: 32.375em;
  margin: 0 auto;
  position: relative;
  top: 2.375em;
  background: #17171a;
  overflow: hidden;
}
.md-imac .md-screen img {
  width: 100%;
}
.md-imac .md-camera {
  width: 0.375em;
  height: 0.375em;
  margin: 0 auto;
  position: relative;
  top: 1.25em;
  background: #000;
  border-radius: 100%;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.25);
}
.md-imac .md-camera:after {
  content: "";
  display: block;
  width: 0.125em;
  height: 0.125em;
  position: absolute;
  left: 0.125em;
  top: 0.0625em;
  background: #353542;
  border-radius: 100%;
}
.md-imac .md-base {
  width: 19.25em;
  height: 6.875em;
  margin: -0.5em auto;
}
.md-imac .md-stand {
  width: 13.125em;
  height: 6.125em;
  margin: 0 auto;
  background: #cccdcf;
  background: -webkit-linear-gradient(#b7b8bb, #cccdcf 50%, #d9dadb 80%, #cccdcf, #bfc0c3);
  background: -moz-linear-gradient(#b7b8bb, #cccdcf 50%, #d9dadb 80%, #cccdcf, #bfc0c3);
  background: -o-linear-gradient(#b7b8bb, #cccdcf 50%, #d9dadb 80%, #cccdcf, #bfc0c3);
  background: linear-gradient(#b7b8bb, #cccdcf 50%, #d9dadb 80%, #cccdcf, #bfc0c3);
  -webkit-transform: perspective(50em) rotate3d(1, 0, 0, 30deg);
  -moz-transform: perspective(50em) rotate3d(1, 0, 0, 30deg);
  -ms-transform: perspective(50em) rotate3d(1, 0, 0, 30deg);
  -o-transform: perspective(50em) rotate3d(1, 0, 0, 30deg);
  transform: perspective(50em) rotate3d(1, 0, 0, 30deg);
}
.md-imac .md-foot {
  width: 15em;
  height: 3.125em;
  margin: 0 auto;
  position: relative;
  bottom: 1.5em;
  border-radius: 0 0 0.625em 0.625em;
  background: -webkit-linear-gradient(#bfc0c3 20%, #cccdcf);
  background: -moz-linear-gradient(#bfc0c3 20%, #cccdcf);
  background: -o-linear-gradient(#bfc0c3 20%, #cccdcf);
  background: linear-gradient(#bfc0c3 20%, #cccdcf);
  -webkit-transform: perspective(11.875em) rotate3d(1, 0, 0, 70deg);
  -moz-transform: perspective(11.875em) rotate3d(1, 0, 0, 70deg);
  -ms-transform: perspective(11.875em) rotate3d(1, 0, 0, 70deg);
  -o-transform: perspective(11.875em) rotate3d(1, 0, 0, 70deg);
  transform: perspective(11.875em) rotate3d(1, 0, 0, 70deg);
  box-shadow: 0 0.375em 0 #bfc0c3;
}
.md-iphone-5 .md-body {
  width: 100%;
  height: 100%;
  border-radius: 3.75em;
  border-style: solid;
  border-width: 0.375em;
  position: relative;
}

.md-iphone-5 .md-screen {
  position: relative;
  margin: 0 auto;
  background-color: #161616;
  border-radius: 0.25em;
  overflow: hidden;
  box-shadow: 0 0 0px 3px #161616;
}
.md-iphone-5 .md-screen img {
  width: 100%;
}

.md-iphone-5 .md-home-button {
  display: block;
  width: 3.625em;
  height: 3.625em;
  margin: 0 auto;
  position: relative;
  border-radius: 100%;
  border: none;
  cursor: default;
  font-size: 100%;
}
.md-iphone-5 .md-home-button:after {
  content: "";
  display: block;
  width: 1.125em;
  height: 1.125em;
  margin: 0 auto;
  position: relative;
  border-style: solid;
  border-width: 0.125em;
  border-radius: 0.25em;
}

.md-iphone-5 .md-front-camera {
  width: 0.875em;
  height: 0.875em;
  margin: 0 auto;
  position: relative;
  border-radius: 100%;
}
.md-iphone-5 .md-front-camera:after {
  content: "";
  display: block;
  width: 0.375em;
  height: 0.375em;
  position: relative;
  top: 0.25em;
  left: 0.25em;
  background-color: #8c8091;
  border-radius: 100%;
}

.md-iphone-5:after {
  content: "";
  display: block;
  width: 3.3125em;
  height: 0.1875em;
  position: absolute;
  right: 3.625em;
  top: -0.1875em;
  border-radius: 0.125em 0.125em 0 0;
}

.md-iphone-5 {
  width: 22.8125em;
  height: 49em;
  position: relative;
}
.md-iphone-5 .md-front-camera {
  top: 1.25em;
}
.md-iphone-5 .md-top-speaker {
  width: 3.75em;
  height: 0.875em;
  margin: 0 auto;
  position: relative;
  top: 2.25em;
  border-radius: 3.125em;
}
.md-iphone-5 .md-top-speaker:after {
  content: "";
  display: block;
  width: 3.25em;
  height: 0.375em;
  margin: 0 auto;
  position: relative;
  top: 0.25em;
  background-color: #4b414a;
  border-radius: 3.125em;
}
.md-iphone-5 .md-screen {
  width: 20em;
  height: 35.5em;
  top: 3.75em;
}
.md-iphone-5 .md-home-button {
  bottom: -5.9375em;
}
.md-iphone-5 .md-buttons {
  width: 0.1875em;
  height: 1.875em;
  position: absolute;
  left: -0.5em;
  top: 5.9375em;
  border-radius: 0.125em 0 0 0.125em;
}
.md-iphone-5 .md-buttons:after, .md-iphone-5 .md-buttons:before {
  content: "";
  display: block;
  position: absolute;
  width: 0.1875em;
  height: 1.5625em;
  border-radius: 0.125em 0 0 0.125em;
}
.md-iphone-5 .md-buttons:after {
  top: 3.125em;
}
.md-iphone-5 .md-buttons:before {
  top: 6.25em;
}
.md-iphone-5.md-glare:before {
  background: -webkit-linear-gradient(16deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: -moz-linear-gradient(16deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: -o-linear-gradient(16deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: linear-gradient(74deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
}
.md-iphone-5.md-landscape {
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.md-iphone-5.md-landscape.md-glare:before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  left: 0.625em;
  top: 0.625em;
}

.md-white-device .md-front-camera, .md-white-device .md-top-speaker, .md-white-device .md-home-button {
  background: -webkit-linear-gradient(#d0d0c5, #eeeeea);
  background: -moz-linear-gradient(#d0d0c5, #eeeeea);
  background: -o-linear-gradient(#d0d0c5, #eeeeea);
  background: linear-gradient(#d0d0c5, #eeeeea);
}

.md-black-device .md-front-camera, .md-black-device .md-top-speaker, .md-black-device .md-home-button {
  background: -webkit-linear-gradient(#141917, #202623);
  background: -moz-linear-gradient(#141917, #202623);
  background: -o-linear-gradient(#141917, #202623);
  background: linear-gradient(#141917, #202623);
}

.md-white-device.md-landscape .md-home-button, .md-white-device.md-landscape .md-front-camera, .md-white-device.md-landscape .md-top-speaker {
  background: -webkit-linear-gradient(left, #d0d0c5, #eeeeea);
  background: -moz-linear-gradient(left, #d0d0c5, #eeeeea);
  background: -o-linear-gradient(left, #d0d0c5, #eeeeea);
  background: linear-gradient(to right, #d0d0c5, #eeeeea);
}

.md-black-device.md-landscape .md-home-button, .md-black-device.md-landscape .md-front-camera, .md-black-device.md-landscape .md-top-speaker {
  background: -webkit-linear-gradient(left, #141917, #202623);
  background: -moz-linear-gradient(left, #141917, #202623);
  background: -o-linear-gradient(left, #141917, #202623);
  background: linear-gradient(to right, #141917, #202623);
}

.md-white-device .md-body {
  background-color: #ebebe4;
  border-color: #f1f2eb;
}
.md-white-device .md-buttons {
  background-color: #ebebe4;
}
.md-white-device .md-buttons:after, .md-white-device .md-buttons:before {
  background-color: #ebebe4;
}
.md-white-device .md-front-camera:after {
  background-color: #8c8091;
}
.md-white-device .md-top-speaker:after {
  background-color: #4b414a;
}
.md-white-device .md-home-button:after {
  border-color: #eff1e6;
}
.md-white-device:after {
  background: #ebebe4;
}

.md-black-device .md-body {
  background-color: #1b211e;
  border-color: #282e2b;
}
.md-black-device .md-buttons {
  background-color: #1b211e;
}
.md-black-device .md-buttons:after, .md-black-device .md-buttons:before {
  background-color: #1b211e;
}
.md-black-device .md-front-camera:after {
  background-color: #2c292f;
}
.md-black-device .md-top-speaker:after {
  background-color: #191616;
}
.md-black-device .md-home-button:after {
  border-color: #444a45;
}
.md-black-device:after {
  background: #1b211e;
}



.md-ipad .md-body {
  width: 100%;
  height: 100%;
  border-radius: 3.75em;
  border-style: solid;
  border-width: 0.375em;

}
.md-screen {
  position: relative;
}
.md-ipad .md-screen {
  margin: 0 auto;
  background-color: #161616;
  border-radius: 0.25em;
  overflow: hidden;
  box-shadow: 0 0 0px 3px #161616;
}
.md-ipad .md-screen img {
  width: 100%;
}

.md-ipad .md-home-button {
  display: block;
  width: 3.625em;
  height: 3.625em;
  margin: 0 auto;
  position: relative;
  border-radius: 100%;
  border: none;
  cursor: default;
  font-size: 100%;
}
.md-ipad .md-home-button:after {
  content: "";
  display: block;
  width: 1.125em;
  height: 1.125em;
  margin: 0 auto;
  position: relative;
  border-style: solid;
  border-width: 0.125em;
  border-radius: 0.25em;
}

.md-ipad .md-front-camera {
  width: 0.875em;
  height: 0.875em;
  margin: 0 auto;
  position: relative;
  border-radius: 100%;
}
.md-ipad .md-front-camera:after {
  content: "";
  display: block;
  width: 0.375em;
  height: 0.375em;
  position: relative;
  top: 0.25em;
  left: 0.25em;
  background-color: #8c8091;
  border-radius: 100%;
}


.md-ipad {
  width: 53.375em;
  height: 79.4375em;
}
.md-ipad .md-front-camera {
  top: 3.125em;
}
.md-ipad .md-screen {
  width: 48em;
  height: 64em;
  top: 6.25em;
}
.md-ipad .md-home-button {
  bottom: -8.75em;
}
.md-ipad.md-glare:before {
  background: -webkit-linear-gradient(22deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: -moz-linear-gradient(22deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: -o-linear-gradient(22deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: linear-gradient(68deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
}
.md-ipad.md-landscape {
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.md-ipad.md-landscape.md-glare:before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  left: 0.625em;
  top: 0.625em;
}

.md-white-device .md-front-camera, .md-white-device .md-top-speaker, .md-white-device .md-home-button {
  background: -webkit-linear-gradient(#d0d0c5, #eeeeea);
  background: -moz-linear-gradient(#d0d0c5, #eeeeea);
  background: -o-linear-gradient(#d0d0c5, #eeeeea);
  background: linear-gradient(#d0d0c5, #eeeeea);
}

.md-black-device .md-front-camera, .md-black-device .md-top-speaker, .md-black-device .md-home-button {
  background: -webkit-linear-gradient(#141917, #202623);
  background: -moz-linear-gradient(#141917, #202623);
  background: -o-linear-gradient(#141917, #202623);
  background: linear-gradient(#141917, #202623);
}

.md-white-device.md-landscape .md-home-button, .md-white-device.md-landscape .md-front-camera, .md-white-device.md-landscape .md-top-speaker {
  background: -webkit-linear-gradient(left, #d0d0c5, #eeeeea);
  background: -moz-linear-gradient(left, #d0d0c5, #eeeeea);
  background: -o-linear-gradient(left, #d0d0c5, #eeeeea);
  background: linear-gradient(to right, #d0d0c5, #eeeeea);
}

.md-black-device.md-landscape .md-home-button, .md-black-device.md-landscape .md-front-camera, .md-black-device.md-landscape .md-top-speaker {
  background: -webkit-linear-gradient(left, #141917, #202623);
  background: -moz-linear-gradient(left, #141917, #202623);
  background: -o-linear-gradient(left, #141917, #202623);
  background: linear-gradient(to right, #141917, #202623);
}

.md-white-device .md-body {
  background-color: #ebebe4;
  border-color: #f1f2eb;
}
.md-white-device .md-buttons {
  background-color: #ebebe4;
}
.md-white-device .md-buttons:after, .md-white-device .md-buttons:before {
  background-color: #ebebe4;
}
.md-white-device .md-front-camera:after {
  background-color: #8c8091;
}
.md-white-device .md-top-speaker:after {
  background-color: #4b414a;
}
.md-white-device .md-home-button:after {
  border-color: #eff1e6;
}
.md-white-device:after {
  background: #ebebe4;
}

.md-black-device .md-body {
  background-color: #1b211e;
  border-color: #282e2b;
}
.md-black-device .md-buttons {
  background-color: #1b211e;
}
.md-black-device .md-buttons:after, .md-black-device .md-buttons:before {
  background-color: #1b211e;
}
.md-black-device .md-front-camera:after {
  background-color: #2c292f;
}
.md-black-device .md-top-speaker:after {
  background-color: #191616;
}
.md-black-device .md-home-button:after {
  border-color: #444a45;
}
.md-black-device:after {
  background: #1b211e;
}


.md-macbook-pro {
  width: 55.3125em;
  height: 31.875em;
}
.md-macbook-pro .md-lid {
  width: 45em;
  height: 30.625em;
  margin: 0 auto;
  position: relative;
  border-radius: 1.875em;
  border: solid 0.1875em #cdced1;
  background: #131313;
}
.md-macbook-pro .md-camera {
  width: 0.375em;
  height: 0.375em;
  margin: 0 auto;
  position: relative;
  top: 1.0625em;
  background: #000;
  border-radius: 100%;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.25);
}
.md-macbook-pro .md-camera:after {
  content: "";
  display: block;
  width: 0.125em;
  height: 0.125em;
  position: absolute;
  left: 0.125em;
  top: 0.0625em;
  background: #353542;
  border-radius: 100%;
}
.md-macbook-pro .md-screen {
  width: 42.25em;
  height: 26.375em;
  margin: 0 auto;
  position: relative;
  top: 2.0625em;
  background: #1d1d1d;
  overflow: hidden;
}
.md-macbook-pro .md-screen img {
  width: 100%;
}
.md-macbook-pro .md-base {
  width: 100%;
  height: 0.9375em;
  position: relative;
  top: -0.75em;
  background: #c6c7ca;
}
.md-macbook-pro .md-base:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.5em;
  margin: 0 auto;
  position: relative;
  bottom: -0.1875em;
  background: #b9babe;
  border-radius: 0 0 1.25em 1.25em;
}
.md-macbook-pro .md-base:before {
  content: "";
  display: block;
  width: 7.6875em;
  height: 0.625em;
  margin: 0 auto;
  position: relative;
  background: #a6a8ad;
  border-radius: 0 0 0.625em 0.625em;
}