.archive-title{
    font-size: 60px;
}
.archive-description{
    margin-bottom: 70px;
    margin-top: 50px;
}
.pagination{
    clear: both;
    margin-top: 50px;
    width: 100%;
    svg{
        cursor: pointer;
    }
    .alignright{
        margin-left: 80px;
    }
}
.engagement{
    position: relative;
    margin: 200px 0;
    .over_image{
        position: relative;
        top: 0;
        h2{
            letter-spacing: 0;
            font-size: 60px;
        }
    }
    h3{
        margin-bottom: 30px;
        text-align: center !important;
    }
    .content{
        padding: 60px;
    }
}
.bloc-2-col{
    margin-top: 100px;
    .content{
        padding-right: 0;
        .text-align-right h2{
            text-align: center;
        }
        h2{
            color: #000;
            font-size: 32px;
            letter-spacing: 0;
            line-height: 45px;
        }
    }
    img{
        margin-top: 30px;
    }
}
.bloc-1txt-3col{
    margin-top: 150px;
    h3{
        text-align: center;
        margin-bottom: 20px;
    }
    img{
        margin-left: 0px;
        margin-top: 15px;
    }
}

.bloc-4_colonnes{
    margin-top: 40px;
    .content-button{
        margin-top: 0;
    }
    h3{
        margin-top: 0;
    }
}
.margin-top-40{
    margin-top: -80px;
    z-index: -1;
    position: relative;
}
.prestations{
    .margin-50{
        margin-top: 80px;
    }
}
.partenaires{
    margin: 100px 0 0;
    img{
        margin-top: 30px;
    }
}
.atelier{
    img{
        max-height: 433px;
    } 
}
.margin-30{
    margin-bottom: 30px;
}
video{
    width: 100%;
}
.private-content video{
    margin: -16vh 0;
}
.post-password-form{
    margin-top: 150px;
    margin-bottom: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    input[name="post_password"]{
        width: fit-content;
        display: block;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
    }
    input[name=Submit]{
        width: fit-content;
        border-bottom: none;
        padding: 0;
        position: relative;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .portail{
        article{
            & > div{
                &:first-child{
                    margin-bottom: 50px;
                }
                .rh-order-1{
                    order: 1;
                }
                .button{
                    margin-bottom: 0;
                }
            }
        }
    }
    .portail{
        .rh-order-1{
            order: 1;
        }
        .button{
            margin-bottom: 0;
        }
    }
    .atelier{
        .rh-order-1{
            order: 2;
        }   
    }
    .prestations{
        .margin-50{
            margin-top: 0;
        }
        article{
            & > div{
                min-height: 80vh;
                align-items: center;
            }
        }
    }
    .bloc-1txt-3col{
        margin-top: 150px;
        h3{
            text-align: center;
            margin-bottom: 40px;
        }
        img{
            margin-left: 5px;
            margin-top: 0;
        }
    }
    .bloc-2-col{
        .content{
            .text-align-right h2{
                text-align: center;
            }
            h2{
                text-align: right;
            }
        }
        img{
            margin-top: 0;
        }
    }
    .partenaires{
        margin:100px 0;
        .order-1{
            order: 2;
        }
    }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    .bloc-2-col{
        .content{
            padding-right: 15px;
            h2{
                font-size: 62px;
                line-height: 80px;
                margin-bottom: 100px;
            }
            .text-align-right h2{
                text-align: right;
            }
        }
    }
    .partenaires{
        margin: 50px 0 200px;
        .order-1{
            order: 2;
        }
    }
    .portail{
        .rh-order-1{
            order: 1;
        }
        .button{
            margin-bottom: 0;
        }
        .legende{
            p{
                line-height: 15px;
                font-size: 10px;
                letter-spacing: 1px;
                margin-top: 15px;
            }
        }
    }
    .atelier{
        .stretch{
            height: 480px;
            /* display: block; */
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        img{
            max-height: inherit;
            height: auto;
        } 
    }
    .engagement{
        .over_image{
            h2{
                font-size: 5.7rem;
            }
        }
        h3{
            text-align: center !important;
        }
    }
    .post-cover .entry-header {
        h2 a{
            font-size: 30px;
        }
    }
    .categrory-list-post{
        text-transform: uppercase;
        margin-top: 50px;
        font-size: 17px;
        color: #fff;
    }
    .spot-list-post{
        text-transform: uppercase;
        margin-top: 10px;
        font-weight: 300;
        font-size: 17px;
        color: #fff;
    }
    .timeline-image{
        .bigTitle{
            font-size: 65px;
        }
    }
    .bloc-1txt-3col{
        .style-1{
            h2{
                letter-spacing: 0;
                margin-bottom: 0;
            }
            p{
                margin-top: 0;
                font-size: 19px;
                text-transform: uppercase;
            }
        }
        .style-2{
            .no-padding-first{
                padding-left: 0;
            }
            .no-padding-center{
                padding-left: 7.5px;
                padding-right: 7.5px;
            }
            .no-padding-last{
                padding-right: 0;
            }
        }
    }
    .archive-title{
        h1{
            font-size: 60px;
        }
    }

}
