.post{
    img{
        width: 100%;
        height: auto;
    }
}
.goback{
    margin-top: 180px;
    a{
        text-transform: uppercase;
        .bi-arrow-left{
            margin-right: 10px;
            font-size: 18px;
        }
    }
}