.shop{
    margin: 30px 0;
    h2{
        margin-top: 0;
    }
    .content-shop{
        min-height: 320px;
    }
}
.filters{
    ul{
        margin-top: 100px;
        text-align: right;
        li{
            padding: 20px;
            position: relative;
            &:after{
                display: block;
                width: 100%;
                border-bottom: 1px solid #000;
                position: absolute;
                bottom: -10px;
            }
        }
    }
}
a.projetsAjax:nth-child(6n+1),a.projetsAjax:nth-child(6n+2), a.projetsAjax:nth-child(6n+3) {
    img{
        max-height: 200px;
    }
    
}
a.projetsAjax img{
    max-height: 400px;
}
.modal-content{
    h4{
        text-transform: uppercase;
        font-weight: 500;
        position: relative;
        width: fit-content;
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        &:after{
            content: "";
            width: 70%;
            display: block;
            height: 1px;
            position: absolute;
            bottom: -10px;
            background: #000;
            left: calc(50% - 35%);
        }
    }
    .price{
        margin-top: 30px;
        margin-bottom: 100px;
        p{
            text-align: center;
            font-weight: 900;
            font-size: 24px;
            margin-top: 0;
            font-family: 'Playfair Display', serif;
        }
    }
    .variation-products{
        text-align: center;
        margin-bottom: 120px;
        p{
            font-size: 12px;
            font-weight: 100;
            text-align: center;
        }
        span{
            font-size: 12px;
            font-weight: 100;
            line-height: inherit;
            letter-spacing: normal;
            margin-left: 30px;
            cursor: pointer;
        }
        .variation-product{
            &:first-child{
                font-weight: 600;
                margin-left: 0;
            }
        }
        .active{
            font-weight: 600;
            position: relative;
            &:after{
                content: "";
                width: 100%;
                display: block;
                height: 1px;
                position: absolute;
                bottom: -5px;
                background: #000;
                left: 0;
            }
        }
    }
    .add-to-cart-section{
        margin-bottom: 120px;
    }
    .description-produit p{
        font-size: 12px;
        font-weight: 100;
        line-height: inherit;
        letter-spacing: normal;
    }
}

@media only screen  and (min-width : 1224px) {
    .filters{
        ul{
            li{
                padding: 0 20px;
                &:after{
                    content: "";
                }
            }
        }
    }
    .shop{
        padding: 100px 0;
        h2{
            margin-top: 20px;
        }
        a.grid-item {
            height: 470px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p{
                text-transform: uppercase;
                margin-top: 15px;
                font-weight: 100;
                font-size: 9px;
            }
        }
    }
    .loop-product{
        margin-top: 50px;
    }

}
     