#menu{
    position: fixed;
    left: 10px;
    width: 8.333333%;
    transition-duration: 500ms;
    transition-delay: 1s;
    top: 0;
    background: #fff;
    z-index: 999999;
    justify-content: center;
    display: flex;
    text-align: center;

}
#menu.open{
    width: 8.333333%;
    visibility: visible;
    z-index: 999;
}
.menu-logo{
    position: fixed;
    top: 70px;
    font-size: 50px;
    font-family: 'steelfishextrabold';  
    text-transform: uppercase;
    line-height: 47px;
    letter-spacing: 0.07em;
}
#primary-menu{
    ul, li{
        padding: 0 20px;
    }
}