@charset "UTF-8";
/*!
    Theme Name: front
    Theme URI: http://julienpipier.fr
    Description: Julien Pipier WordPress Theme
    Version: 1.4.3
    Author: Julien Pipier
    Author URI: http://julienpipier.fr
    Tags:HTML5, CSS3

    License: MIT
    License URI: http://opensource.org/licenses/mit-license.php

*/
@font-face {
  font-family: 'steelfishextrabold';
  src: url("fonts/steelfish_eb-webfont.woff2") format("woff2"), url("fonts/steelfish_eb-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'steelfishoutline';
  src: url("fonts/steelfish-outline.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewayextralight';
  src: url("fonts/raleway-extralight-webfont.woff2") format("woff2"), url("fonts/raleway-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewaybold';
  src: url("fonts/raleway-Bold.woff2") format("woff2"), url("fonts/Raleway-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html, body, main, #page, #wrapper, #primary {
  height: 100%; }

main {
  display: flex; }

ul, li {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

a {
  color: #000; }

body .flex-col {
  display: flex;
  flex-direction: column !important; }

.flex-row {
  flex-wrap: wrap; }

.flex-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  text-align: center; }

.flex-center-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center; }

.flex-end-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right; }

.flex-center-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center; }

.flex-stretch {
  display: flex;
  align-items: stretch;
  width: 100%;
  position: relative; }

.flex-stretch:before {
  content: "";
  display: block;
  position: absolute;
  border-right: 1px solid #000;
  transition-delay: 1s;
  right: 0px;
  height: 100%; }

h1, h2 {
  font-family: 'steelfishextrabold';
  line-height: 120px;
  font-size: 138px;
  letter-spacing: 3px;
  text-transform: uppercase; }

h1 span {
  font-size: 83px; }

.flex-center-center h1 {
  background-image: url(https://julienpipier.local/wp-content/themes/julienpipier_/assets/img/home.jpg);
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text; }

h3 {
  font-family: 'steelfishextrabold';
  text-transform: uppercase;
  font-size: 20px; }

h5 {
  margin-top: 50px; }

p {
  font-size: 13px;
  font-family: 'ralewayextralight'; }

.p-justifiy {
  text-align: justify; }

.coordonnee h5 {
  margin-top: 0; }

.glyph-icon:before {
  font-size: 65px; }

.flaticon-wrench:before {
  font-size: 50px; }

.lead {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'ralewayextralight';
  letter-spacing: 3px; }

.row-stretch {
  display: none; }

.bgimg {
  background: url("assets/img/home.jpg") center center;
  background-size: cover; }

#menu {
  position: fixed;
  left: 0;
  width: 8.333333%;
  transition-duration: 500ms;
  transition-delay: 1s;
  top: 0;
  display: block;
  background: #fff;
  overflow: hidden;
  z-index: -1;
  justify-content: center;
  display: flex;
  text-align: center; }

#menu.open {
  width: 8.333333%;
  visibility: visible;
  z-index: 999; }

.menu-logo {
  position: fixed;
  top: 70px;
  font-size: 50px;
  font-family: 'steelfishextrabold';
  text-transform: uppercase;
  line-height: 47px;
  letter-spacing: 0.07em; }

.no-padding {
  padding: 0; }

.content-about {
  width: 300px;
  margin-top: 5%; }

.full-height {
  height: 100%; }

.black {
  background-image: linear-gradient(180deg, #fff 20%, #000 20%);
  color: #000;
  margin-top: -20%;
  height: 120%;
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 50px; }

.moving-title {
  mix-blend-mode: difference;
  color: #fff;
  position: absolute;
  top: 0%; }

.moving-title.fixed {
  position: fixed;
  top: 15%; }

p.white {
  color: #fff; }

.repeater-content {
  width: 50%;
  margin-top: 50px; }

.repeater-content h3 {
  font-size: 22px;
  margin-bottom: 30px;
  font-family: 'ralewaybold'; }

#section-realisation {
  margin-top: 10%; }

#section-more {
  margin-bottom: 10%;
  padding-right: 5%; }

.description-ipad {
  text-align: left;
  top: -50px; }

.description-ipad.title-screen:before {
  transform: rotate(90deg);
  bottom: -50px; }

.description-imac {
  right: -150px;
  top: 100px; }

.description-imac.title-screen:before {
  left: -150px; }

.description-iphone {
  right: -70px;
  bottom: 20px; }

.description-iphone.title-screen:before {
  left: -50px; }

.title-screen:before {
  content: "";
  border-top: 1px solid black;
  display: block;
  width: 100px;
  height: 1px;
  z-index: -1;
  position: absolute; }

.description-macbook {
  right: 150px;
  top: -100px; }

.description-macbook.title-screen:before {
  transform: rotate(90deg);
  bottom: -50px; }

.title-screen {
  font-size: 13px;
  position: absolute;
  text-transform: uppercase;
  font-family: 'ralewayextralight'; }

.modal {
  background: #fff;
  opacity: 0.8; }

.modal .modal-content {
  border: none;
  text-align: center;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center; }

.modal .modal-content ul a {
  font-size: 100px;
  font-family: 'steelfishextrabold';
  text-transform: uppercase;
  line-height: 90px;
  letter-spacing: 0.07em;
  transition-duration: 500ms; }

.modal .modal-content ul a:hover {
  color: black;
  text-decoration: none;
  font-style: italic;
  transition-duration: 500ms; }

.grid-item {
  float: left;
  display: flex; }

.grid-item:nth-child(3n + 4) .image {
  order: 1; }

.grid-item:nth-child(3n + 4) .content {
  order: 2; }

.content-coffee {
  display: block;
  height: 78px; }

/*Styles spécifiques pour les écrans de taille moyenne type tablette*/
@media screen and (min-width: 700px) and (max-width: 1024px) {
  .row-stretch {
    display: flex; }

  .col-stretch {
    display: none; }

  html, body, main, #page, #wrapper, #primary {
    height: inherit; }

  .flew-row-space {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    justify-content: space-around;
    text-align: center; }

  .coordonnee, .insta {
    flex-grow: 1; }

  .locatilation {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .instagram {
    display: none; }

  .flex-stretch {
    order: 2;
    flex-direction: column; }

  main {
    flex-direction: column; } }
section {
  margin: 0 auto;
  display: flex; }

.column {
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0; }

section:nth-of-type(5) .column:first-of-type {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 22px; }

section:nth-of-type(6) .column:nth-of-type(2) {
  flex-grow: 4;
  flex-shrink: 4;
  flex-basis: 66px; }

.column {
  padding: 10px 0;
  text-align: justify; }

.timeline-wrap {
  position: relative;
  padding: 0 50px 0 0; }

.timeline {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  background-repeat: repeat-x;
  background-size: 10px 2px;
  background-position: center top 60%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(66%, #000), color-stop(0, transparent));
  background-image: linear-gradient(90deg, #000 66%, transparent 0);
  padding: 50px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  flex-flow: row nowrap;
  transition: height .2s ease-out;
  transition: height .2s ease-out;
  transition: height .2s ease-out; }

.timeline-title, .timeline-content-title {
  font-weight: 600; }

.timeline-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  -webkit-transition: max-width .2s,-webkit-transform .4s ease-out;
  transition: max-width .2s,-webkit-transform .4s ease-out;
  transition: max-width .2s,transform .4s ease-out;
  transition: max-width .2s,transform .4s ease-out,-webkit-transform .4s ease-out;
  cursor: pointer;
  margin: 0 25px;
  height: auto; }

.timeline-item:first-child {
  margin-left: 0; }

.i-is-active.timeline-item {
  cursor: default; }

.timeline-content {
  width: 100%; }

.p-timeline-item:hover {
  transform: scale(1.1);
  transition: transform .3s ease; }

.bmw:hover time, .bmw.i-is-active time, .timeline-content-title.bmw {
  color: #1C69D4; }

.mini:hover time, .mini.i-is-active time, .timeline-content-title.mini {
  color: #ed9300; }

.bmw:hover time, .mini:hover time, .bmw time, .mini time {
  transition: color .3s ease; }

.p-timeline-item.i-is-active {
  cursor: default; }

.bmw:hover .p-timeline-block {
  background-color: #1C69D4; }

.mini:hover .p-timeline-block {
  background-color: #ed9300; }

.bmw .p-timeline-block, .mini .p-timeline-block, .mini:hover .p-timeline-block, .bmw:hover .p-timeline-block {
  transition: background-color 1s ease; }

.p-timeline-date, .p-timeline-carmodel, .p-timeline-block {
  width: 100%; }

.p-timeline-date {
  font-weight: 600;
  font-size: 20px; }

.p-timeline-carmodel {
  margin-top: 5px;
  margin-bottom: 10px; }

.p-timeline-block {
  min-width: 55px;
  min-height: 55px;
  max-width: 55px;
  max-height: 55px;
  border: solid 0px black;
  border-radius: 50%;
  background-color: #beac95;
  position: relative;
  top: 3px;
  left: 48px;
  margin-bottom: 20px; }

.p-timeline-item {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;
  max-width: 150px;
  position: relative;
  text-align: center;
  transition: color .3s ease-in-out;
  transition: transform .3s ease; }

.p-timeline-content {
  width: 98%;
  height: 0;
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-1000px);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  padding: 50px 20px 20px 20px; }

.i-is-active.p-timeline-content {
  color: #000;
  height: auto;
  padding: 50px 20px 20px 20px;
  float: left;
  width: 98%;
  text-align: left;
  position: relative;
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.i-is-active.p-timeline-content h3, .i-is-active.p-timeline-content time {
  width: 100%; }

.i-is-active.p-timeline-content .timeline-content-card {
  width: 40%; }

.i-is-active.p-timeline-content .timeline-content-card, .i-is-active.p-timeline-content .timeline-content-image {
  float: left; }

.i-is-active.bmw .p-timeline-block {
  background-color: #1C69D4; }

.i-is-active.mini .p-timeline-block {
  background-color: #ed9300; }

.i-is-active.p-timeline-item:hover {
  transform: none; }

.i-is-active .p-timeline-item {
  transform: scale(1.1); }

.bmw.i-is-active.p-timeline-content h3 {
  color: #1C69D4; }

.mini.i-is-active.p-timeline-content h3 {
  color: #ed9300; }

.p-timeline-content time {
  font-size: 15px;
  line-height: 40px;
  font-style: italic; }

.p-timeline-content p {
  font-size: 14px;
  line-height: 21px;
  padding-right: 30px;
  font-weight: 300; }

.timeline-content-title {
  font-size: 28px; }

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.7;
  cursor: pointer; }

.close:hover {
  opacity: 1; }

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #333; }

.close:before {
  transform: rotate(45deg); }

.close:after {
  transform: rotate(-45deg); }

/*Custom scrollbar styling*/
.timeline::-webkit-scrollbar {
  height: 8px; }

.timeline::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lightgrey;
  border-radius: 10px; }

/* Track */
.timeline::-webkit-scrollbar-thumb {
  background: #beac95;
  border-radius: 10px; }

/* Handle */
/*  ========== Media Queries ========== */
/* laptop resolutions*/
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .timeline {
    background-position: center top 60%; }

  .i-is-active.p-timeline-content .timeline-content-card {
    width: 48%; }

  .i-is-active.p-timeline-content .timeline-content-image {
    width: 50%; } }
/*Tablet - Landscape*/
@media screen and (max-width: 1199px) {
  .timeline-content-title {
    font-size: 1.7em; }

  .p-timeline-content time {
    font-size: 1em; } }
/*Tablet - Portrait*/
@media screen and (max-width: 1020px) {
  .p-timeline-carmodel {
    margin: 0; }

  .wrap {
    padding: 0 40px; }

  .timeline-wrap {
    padding: 0; }

  .p-timeline-content {
    display: flex;
    flex-flow: column; }

  .i-is-active.p-timeline-content .timeline-content-card, .i-is-active.p-timeline-content .timeline-content-card, .i-is-active.p-timeline-content .timeline-content-image {
    width: 100%; }

  .i-is-active.p-timeline-content .timeline-content-image {
    padding: 0;
    order: 0;
    margin-bottom: 20px; }

  .i-is-active.p-timeline-content .timeline-content-card {
    padding: 0;
    order: 1; }

  .i-is-active.p-timeline-content {
    padding-left: 0;
    padding-right: 0; }

  .timeline-content-button {
    width: 100%;
    padding: 10px 0px; } }
/* Mobile devices */
@media screen and (max-width: 768px) {
  body {
    padding: 0; }

  .timeline {
    background-position: center top 55%; }

  .timeline-item {
    margin: 0 10px; }

  .p-timeline-block {
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px; }

  .p-timeline-date {
    font-size: 16px; }

  .p-timeline-carmodel {
    margin: 0;
    line-height: 20px;
    font-size: 13px; }

  .p-timeline-content time {
    line-height: 20px; }

  .p-timeline-content p {
    font-size: 0.9em;
    padding-right: 0px; }

  .timeline-content-title {
    font-size: 1.5em;
    line-height: 1.3em; }

  .close {
    right: 0px; }

  .timeline-title {
    line-height: 1em;
    font-size: 1.5em; }

  .timeline::-webkit-scrollbar {
    height: 4px; } }
.mockup_wrap {
  position: relative;
  margin-bottom: 140px; }

.md-imac {
  position: relative;
  bottom: -100px; }

.md-macbook-pro, .md-ipad, .md-iphone-5 {
  position: absolute;
  bottom: 0; }

.md-macbook-pro {
  right: -35%;
  font-size: 15px;
  bottom: 70px; }

.md-iphone-5 {
  left: 15%;
  font-size: 8px; }

.md-ipad {
  left: -20%;
  font-size: 7px;
  bottom: 70px; }

.masonry {
  /* Masonry container */
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 1.2em;
  -moz-column-gap: 1.2em;
  column-gap: 1.2em;
  margin: 0 4em;
  padding: 0;
  -moz-column-gap: 4em;
  -webkit-column-gap: 4em;
  column-gap: 4em;
  font-size: .85em;
  height: 100%;
  overflow: auto; }

.item {
  display: inline-block;
  width: 100%;
  height: auto;
  -webkit-transition: 1s ease all;
  margin-bottom: 4em;
  position: relative; }

.item img {
  max-width: 100%;
  height: auto;
  mix-blend-mode: luminosity;
  transition-duration: 800ms;
  position: relative;
  display: flex; }

.item img:hover {
  mix-blend-mode: normal; }

.hover-title {
  position: absolute;
  opacity: 0;
  z-index: 999; }

.hover-title {
  color: #000;
  font-size: 30px;
  text-transform: uppercase; }

.item:hover .hover-title {
  opacity: 1;
  top: 50%;
  width: 100%;
  text-align: center; }

.relative {
  position: relative; }

.fixed {
  position: fixed;
  bottom: 100px; }

.fixed-top {
  position: fixed;
  display: flex;
  float: right;
  text-align: right;
  padding-right: 20px;
  z-index: -1;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly; }

.description-title {
  margin-top: 50px; }

.margin-top-10 {
  margin-top: 15%; }

.gallery_pix img {
  width: 100%;
  margin-top: 30px; }

.description-projet {
  margin-top: 50px; }

.bg-green {
  background: #F4F1EC; }

.padding-50 {
  padding: 50px; }

.history-tl-container {
  font-family: "Roboto",sans-serif;
  width: 50%;
  margin: auto;
  display: block;
  position: relative; }

.history-tl-container ul.tl {
  margin: 20px 0;
  padding: 0;
  display: inline-block; }

.history-tl-container ul.tl li {
  list-style: none;
  margin: auto;
  min-height: 50px;
  /*background: rgba(255,255,0,0.1);*/
  border-left: 1px dashed #86D6FF;
  padding: 0 0 50px 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.history-tl-container ul.tl li:last-child {
  border-left: 0; }

.history-tl-container ul.tl li::before {
  position: absolute;
  left: -11px;
  top: 25%;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #258CC7;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out; }

.history-tl-container ul.tl li:hover::before {
  border-color: #258CC7;
  transition: all 1000ms ease-in-out; }

ul.tl li .item-detail {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px; }

ul.tl li .timestamp {
  color: #8D8D8D;
  position: absolute;
  width: 100px;
  left: -100%;
  text-align: right;
  font-size: 12px; }

.view-cap, .view-container-border {
  background: white !important; }

.st-bg {
  border-left: none; }

.st-dtitle {
  border: none;
  background: white; }

.disabled {
  opacity: 0.6; }
