	/*
  	Flaticon icon font: Flaticon
  	Creation date: 05/04/2020 13:13
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-graphic-design:before { content: "\f100"; }
.flaticon-web:before { content: "\f101"; }
.flaticon-pencil:before { content: "\f102"; }
.flaticon-icon-1505576:before { content: "\f103"; }
.flaticon-van:before { content: "\f104"; }
.flaticon-instagram:before { content: "\f105"; }
.flaticon-fist:before { content: "\f106"; }
.flaticon-hand:before { content: "\f107"; }
.flaticon-beer:before { content: "\f108"; }
.flaticon-wordpress:before { content: "\f109"; }
.flaticon-art-and-design:before { content: "\f10a"; }
.flaticon-wrench:before { content: "\f10b"; }