#contact{
    padding-left: 70px;
    h1{
        padding-top: 50px;
    }
    .content{
        margin-top: 70px;
    }
    .instagram{
        padding-top: 50px;
        display: block;
        #sb_instagram{
            margin-left: -10px;
        }
    }
    input, textarea{
        background: none;
        border: none;
        border-bottom: 1px solid #000;
        width: 100%;
    }
    textarea{
        max-width:100%;
        min-width:100%;
        resize:vertical;
        box-sizing:border-box;
        margin:auto;
    }
    label{
        text-align: left;
        font-family: 'steelfishbold';
        font-size: 22px;
        letter-spacing: 1.2px;
        padding-top: 50px;
        text-transform: uppercase;
    }
    #form{
        padding-bottom: 30px;
    }
    .your-message{
        width: 100%;
    }
    .wpcf7-submit{
        margin-top: 70px;
        width: 30%;
        font-family: 'steelfishbold';
        font-size: 22px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }
}















