.blocItems{
    padding: 50px 0;
    .load{
        transition: all .2s ease-out;
        &:hover{
            .content{
                transition: all .2s ease-out;
                opacity: 0;
            }
            .loading{
                transition: all .1s ease-out;
                opacity: 1;
            }
        }
    }
    .item {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 300px;
        background: #fff;
        overflow : hidden;
        margin-bottom: 50px;
        transition: opacity 0.2 ease-in-out;

        .content{
            padding: 20px;
            width: 100%;
            display: flex;
            align-items: center;
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
                height: 100%;
                transition: all .2s ease-out;
                &:hover{
                    color: #000;
                    text-decoration: none;
                    transform: scale(1.1);
                    cursor: pointer;
                }
                div{
                    flex-grow: 1;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                }
                img{
                    height: 160px;
                    width: auto;
                }
                .project-title{
                    font-family: 'ralewayextralight';
                    letter-spacing: 1px;
                    order: 1;
                    display: flex;
                    flex-direction: column;
                    text-transform: uppercase;
                    font-size: 12px;
                    h4{
                        font-size: 30px;
                    }
                }
                .pix{
                    order: 0;
                }
            }
        }
        .loading{
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            opacity: 0;
            transition: all .2s ease-out;
            padding-left: 40px;
            h4{
                padding: 10px;
            }
        }
        .category{
            background: #000;
            width: 40px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: none;
            .rotate90{
                transform: rotate(-90deg);
                display: flex;
                width: 100%;
                text-align: center;
                justify-content: center;
                flex-direction: row-reverse;
                a{
                    color: #fff;
                    text-decoration: none;
                    display: flex;
                    flex: none;
                    &:hover{
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
