.description-projet{
    margin-top: 50px;
    padding-left: 35%;
    padding-right: 20px;
}
.description-type-projet{
    text-transform: uppercase;
    .type_projet{
        font-family: 'ralewayextralight';
        span{
            font-family: 'ralewaybold';
        }
    }
}
.gallery_pix img{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 170px;
}

.bg-green{
    background: #F4F1EC;
}