#section-services{
    h4, h5{
        font-family: 'steelfishextrabold';  
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: normal;
        margin-bottom: 0;
    }
    h4{
        font-size: 75px;
    }
    h5{
        margin-top: 0;
        font-size: 22px;
    }
    .info{
        margin-top: 40px;
    }
    .repeater-content:first-child{
        margin-bottom: 100px;
        padding-top: 40px;
    }
}