.timeline-wrap{
    width: 100%;
    transition: all .3s ease-in-out;
    #heading1{
        img{
            padding-top: 11px;
            padding-left: 8px;
        }
    }
    .timeline{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .timeline-item {
            &:hover{
                cursor: pointer;
            }
            a:hover{
                color: $black;
                text-decoration: none;
                cursor: pointer;
            }
        }
        .active, .actived{
            img{
                filter: grayscale(0) !important;
            }
        }
        .p-timeline-block{
            transition: all .3s ease-in-out;
            &:hover{
                img{
                    filter: grayscale(0);
                    cursor: pointer;
                    transform: scale(1.1) !important;
                    transition: all .3s ease-in-out;
                }
            }
            img{
                width: 45px;
                filter: grayscale(1);
                transform: rotate(-90deg);
            }
            &:after{
                content: "";
                width: 600%;
                background: #000;
                height: 1px;
                display: block;
                left: -160%;
                position: relative;
                top: 50px;
            }
        }
        .p-timeline-carmodel{
            margin-top: 100px;
            display: block;
            font-family: 'ralewayextralight';
            text-transform: uppercase;
            font-size: 16px;
        }
    }
    .targetDiv{
        display: none;
    }
    .cnt{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 150px 450px 100px;
        width: 100%;
        p{
            text-transform: uppercase;
            line-height: 22px;
        }
    }
    
}