/*!
    Theme Name: Julien Pipier
    Theme URI: http://julienpipier.fr
    Description: Julien Pipier WordPress Theme
    Version: 1.4.3
    Author: Julien Pipier
    Author URI: http://julienpipier.fr
    Tags:HTML5, CSS3

    License: MIT
    License URI: http://opensource.org/licenses/mit-license.php

*/
$black : #212121;
@font-face {
    font-family: 'steelfishextrabold';
    src: url('fonts/steelfish_eb-webfont.woff2') format('woff2'),
         url('fonts/steelfish_eb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'steelfishbold';
    src: url('fonts/steelfishbd.woff2') format('woff2'),
         url('fonts/steelfishbd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'steelfishoutline';
    src: url('fonts/steelfish-outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayextralight';
    src: url('fonts/raleway-extralight-webfont.woff2') format('woff2'),
         url('fonts/raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway-Bold.woff2') format('woff2'),
         url('fonts/Raleway-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html, body, main, #page, #wrapper, #primary{
    height: 100%;
    position: relative;
    z-index: -1;
}
main{
    display: flex;
}
ul, li{
    list-style: none;
    margin-left: 0;
    padding-left: 0;;
}
a{
    color: $black;
}
body .flex-col{
    display: flex;
    flex-direction: column !important;
}
.flex-row{
    flex-wrap: wrap;
}
.flex-center-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    text-align: center;
}
.flex-center-end{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}
.flex-end-end{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
}
.flex-center-start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;   
}
.flex-stretch{
    display: flex;
    align-items: stretch;
    width: 100%;
    position: relative;
}
.flex-stretch:before{
    content:"";
    display: block;
    position: absolute;
    border-right: 1px solid $black;
    transition-delay: 1s;
    right: 0px;
    height: 100%;
}
.fullheight{
    height: 100%;
}
h1, h2{
    font-family: 'steelfishextrabold';
    line-height: 120px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
h1{
    font-size: 110px;
}
h1 span{
    font-size: 83px;

}
.flex-center-center h1{
    background-image: url(/wp-content/themes/julienpipier/assets/img/home.jpg);
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.menu-logo:hover{
    cursor: pointer;
}
h2{
    font-size: 70px;  
}
h3{
    font-family: 'steelfishextrabold';  
    text-transform: uppercase;
    font-size: 20px;
}
h4{
    font-family: 'steelfishbold';  
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 2px;
}
h5{
    margin-top: 50px;
}
p{
    font-size: min(max(1rem, 4vw), 13px);
    font-family: 'ralewayextralight';   
}
.p-justifiy{
    text-align: justify;
}
.coordonnee h5{
    margin-top: 0;
}
.glyph-icon:before{
    font-size: 65px;
}
.flaticon-wrench:before{
    font-size: 50px;
}
.lead{
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'ralewayextralight';
    letter-spacing: 3px;
}
.row-stretch{
    display: none;
}

.bgimg{
    background: url("assets/img/home.jpg") center center;
    background-size: cover ;

}
.no-padding{
    padding: 0;
}

.content-about{
    width: 44%;
    margin-top: 5%;
    text-align: justify;
}

.black{
    background-image: linear-gradient(180deg,#fff 20%,$black 20%);
    color: $black;
    margin-top: -20%;
    height: 120%;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.moving-title{
    mix-blend-mode : difference;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 22.5%;
}
.moving-title.fixed{
    position: fixed;
    top: 15%;
}
p.white{
    color: #fff;
}
.repeater-content{
    width: 80%;
    margin-top: 50px;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: $black;
        text-decoration: none;
        transform: scale(1.1);
    }
    h3{
        font-size: 22px;
        margin-bottom: 30px;
        font-family: 'ralewaybold';
    }
}
#section-realisation{
    padding-top: 10%;
}
#section-more{
    padding-bottom: 20%;
    padding-right: 15%;
    overflow: hidden;
    margin-top: -100px;
}
.description-ipad{
    text-align: left;
    left: 0;
    top: -50px;
}
.description-ipad.title-screen:before{
    transform: rotate(90deg);
    bottom: -50px;
}
.description-imac{
    right: -150px;
    top: 100px;
}
.description-imac.title-screen:before{
    left: -150px;
}
.description-iphone{
    right: -70px;
    bottom: 20px;
}
.description-iphone.title-screen:before{
    left: -50px;
}
.title-screen:before{
    content: "";
    border-top: 1px solid black;
    display: block;
    width: 100px;
    height: 1px;
    z-index: -1;
    position: absolute;
}
.description-macbook{
    right: 150px;
    top: -100px;
}
.description-macbook.title-screen:before{
    transform: rotate(90deg);
    bottom: -50px;
}
.title-screen{
    font-size: 13px;
    position: absolute;
    text-transform: uppercase;
    font-family: 'ralewayextralight';
}
.modal{
    background: #fff;
    opacity: 0.8;
}
.modal .modal-content{
    border: none;
    text-align: center;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal .modal-content ul a{
    font-size: 100px;
    font-family: 'steelfishextrabold';  
    text-transform: uppercase;
    line-height: 90px;
    letter-spacing: 0.07em;
    transition-duration: 500ms;
}
.modal .modal-content ul a:hover{
    color: black;
    text-decoration: none;
    font-style: italic;
    transition-duration: 500ms;
}
.grid-item{
    float: left;
    display: flex;
}
.grid-item:nth-child(3n + 4) .image{
    order: 1;
}
.grid-item:nth-child(3n + 4) .content{
    order: 2;
}
.content-coffee{
    display: block;
    height: 78px;
}



a.aftertrait{
    font-family: 'ralewayextralight';
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.2 ease-in-out;
    &:hover{
        color: rgba(0,0,0,0.4);
        text-decoration: none;
        transform: scale(1.1);
        &:after{
            background: rgba(0,0,0,0.4);
        }
    }
    &:after {
        content: "";
        display: block;
        width: 99.5%;
        position: absolute;
        height: 1px;
        background: $black;
        right: -100%;
        top: 50%;
    }
}


section {
    margin: 0 auto;
    display: flex;
  }
  
  .column {
    margin: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
  
  section:nth-of-type(5) .column:first-of-type {
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 22px;
  }
  
  section:nth-of-type(6) .column:nth-of-type(2) {
    flex-grow: 4;
    flex-shrink: 4;
    flex-basis: 66px;
  }
  
.column {
    padding: 10px 0;
    text-align: justify;
}

.mockup_wrap{
    position: relative;
    margin-bottom: 140px;
}
.md-imac{
    position: relative;
    bottom: -100px;  
}
.md-macbook-pro, .md-ipad, .md-iphone-5{
    position: absolute;
    bottom: 0;
}
.md-macbook-pro{
    right: -35%;
    font-size: 15px;
    bottom: 70px;
}
.md-iphone-5{
    left: 15%;
    font-size: 8px;
}
.md-ipad{
    left: -20%;
    font-size: 7px;
    bottom: 70px;
}



.hoverflowhidden{
    overflow: hidden;
}


.relative{
    position: relative;
}
.fixed{
    position: relative;
    padding: 100px 0 100px;
    h1{
        text-align: right;
        font-size: 4.7rem;
        line-height: 80px;
    }
}
.description-title{
    margin-top: 50px;
    text-align: justify;
}
.margin-top-10{
    margin-top: 15%;
}
.padding-50{
    padding: 50px;
}
.disabled{
    opacity: 0.6;
}
.bordermenu{
    position: relative;
    &:after{
        content: '';
        display: block;
        height: calc(100% + 59px);
        width: 1px;
        top: 0;
        left: 7.7%;
        position: absolute;
    }
}
.single-portfolio{
    h1 {
        font-size: 90px;
        line-height: 80px;
    }
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}