/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    #section2col{
        img{
            width: 100%;
        }
    }
    .mockup_wrap{
        .md-imac {
            font-size: 8px;
            .description-imac {
                right: -183px;
                top: 100px;
                &.title-screen:before {
                    left: -110px;
                    top: 20px;
                }
            }
        }
        .md-macbook-pro {
            font-size: 8px;
            .description-macbook {
                right: 10px;
                top: -46px;
            }
        }
        .md-ipad {
            font-size: 3.8px;
            .description-ipad {
                left: -20px;
            }
        }
        .md-iphone-5 {
            font-size: 5.2px;
            .description-iphone {
                right: -150px;
                &:before {
                    left: -109px;
                    top: 8px;
                }
            }
        }
    }
    .timeline-wrap {
        .timeline{
            .p-timeline-item{
                .p-timeline-block {
                    img{
                        transform: rotate(0deg);
                        width: 40px;
                    }
                    &:after {
                        content: "";
                        width: 390%;
                        left: -105%;
                    }
                }
                .p-timeline-carmodel {
                    margin-top: 80px;
                    font-size: 13px;
                }
            }
        }
    }
    .wrap{
        .timeline-wrap .cnt {
            padding: 100px 50px 100px;
        }
    }
    .footer-spec{
        padding: 20px;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: 7.7%;
        width: 92.3%;
        p{
            text-align: right;
            margin: 0;
        }
    }
    body{
        .bordermenu:after {
            background: #000;
        }
        .menu-logo {
            top: 20px;
            left: 20px;
        }
        .fixed{
            position: fixed;
            bottom: 100px;
            padding: inherit;
            padding-left: 0;
            h1{
                text-align: left;
            }
        }
        .description-title{
            padding-left: 0;
        }
    }
    .form-content{
        position: fixed;
        right: 5%;
        top: 5%;
    }
    
}
  
 