  /* 
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px
  */
  
@media (min-width: 1025px) and (max-width: 1440px) {
    h2{
        font-size: 5.6rem;
    }
    .mockup_wrap{
        .md-macbook-pro {
            right: -52%;
            font-size: 13px;
            bottom: 70px;
            .description-macbook {
                right: 45px;
            }
        }
        .md-imac{
            font-size: 14px;
        }
    }
    #primary{
        #section-services{
            .moving-title{
                left:14%;
            }
        }
    }
}