	/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

/*Styles spécifiques pour les écrans de taille moyenne type tablette*/
@media screen and (min-width: 700px) and (max-width: 1024px){
    .fixed-top{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        height: 100%;
        padding-right: 15px;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .instagram{
        display: none;
    }
    .flex-stretch{
        order: 2;
        flex-direction: column;
    }
    main{
        flex-direction: column;
    }
}


@media (min-width: 1025px) {
    body{
        .menu-black{
            transition: all .3s ease-in-out;
            .menu-logo{
                color: #000;
            }
        }
        .menu-logo{
            transition: all .3s ease-in-out;
            color: #fff;
        }
        #menu{
            left: 10px;
        }
        .bordermenu:after{
            background: black;
        }
        .paddingLeft120{
            padding-left: 120px;
        }
            .fixed{
            position: fixed;
            bottom: 100px;
            padding: inherit;
            h1{
                text-align: left;
                font-size: 8.7rem;
                line-height: 120px;
            }
        }
        .blocItems{
            .item {
                &.order2{
                    .pix{
                        order: 2 !important;
                    }
                    .project-title{
                        order: 1 !important;
                    } 
                }
                .content{
                    a{
                        flex-direction: row;
                    }
                    img{
                        height: 200px;
                    }
                }
                .loading{
                    width: 100%;
                    padding-left: 40px;
                }
            }
        }
        .fixed-top{
            position: fixed;
            display: flex;
            float: right;
            text-align: right;
            padding-right: 20px;
            z-index: -1;
            height: 100%;
            flex-direction: column;
            justify-content: space-evenly;
        }
        .description-imac {
            right: -180px;
            top: 100px;
        }
        .description-imac.title-screen:before {
            left: -111px;
            top: 50%;
        }
        .description-iphone {
            right: -220px;
            bottom: 20px;
        }
        .description-iphone.title-screen:before{
            left: -90%;
            top: 50%;
        }
        .timeline{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
    
            .active{
                img{
                    filter: grayscale(0) !important;
                }
            }
            .p-timeline-block{
                &:hover{
                    img{
                        filter: grayscale(0);
                    }
                }
                img{
                    transform: rotate(0deg) !important;
                }
            }
        }
        .footer-spec{
            padding: 20px;
            text-align: right;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin-left: 7.7%;
            width: 92.3%;
            p{
                text-align: right;
                margin: 0;
            }
        }
        h2 {
            font-size: 170px;
        }
        .repeater-content {
            width: 50%;
            margin-top: 50px;
        }
        .full-height{
            min-height: 100%;
            position: relative;
            z-index: -1;
        }
        .blocItems{
            
            padding: 50px;
            img{
                height: 180px;
            } 
            .item{
                .content{
                    a{
                        .project-title{
                            h4{
                                font-size: 45px;
                            }
                        }
                    }
                }
            }
        }
        #contact h1{
            font-size: 138px;
        }
        &.page-template-template-contact .content{
            min-height: inherit;
            height: inherit;
        }
        &.single-portfolio{
            h1 {
                font-size: 138px;
                line-height: 120px;
            }
        }
    }
    body.home h1{
        font-size: 138px;
        line-height:145px;
    }
}
  
  /* 
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .menu-black{
        transition: all .3s ease-in-out;
        .menu-logo{
            color: #000;
        }
    }
    .menu-logo{
        transition: all .3s ease-in-out;
        color: #fff;
    }
    .home .portail{
        article{
            .container-fluid{
                &:nth-child(1){
                    .imgfull{
                        margin-top: 0;
                    }
                }
                .imgfull{
                    margin-top: 80px;
                }
                div:nth-child(1){
                    order:3;
                }
            }
        }
    }
    .blog {
        .position-img-2 {
            .post-thumbnail img{
                padding: 0;
            }
        }
    }
    #nav{
        li{
            margin: 15px 0;
        }
    }
    .bloc-2-col{
        .align-right{
            order: 2;
        }
    }
    .partenaires h3{
        text-align: center;
    }
    section.timeline{
        height: 125%;
    }
    ul.timeline{
        transform: rotate(90deg);
        li{
            span, .p-timeline-date img, .p-timeline-content{
                transform: rotate(-90deg);
            }
            .picto.p-timeline-date{
                order: 2;
            }
            .p-timeline-content{
                padding-left: 75px;
            }
        }
    }
    .timeline-image{
        h3{
            margin-top: 100px;
            text-align: center;
        }
        .loop-1, .loop-3{
            .rh-order-2{
                order: 0;
            }
        }
        .bigTitle.align-right{
            text-align: center;
        }
        .bigTitle{
            font-size: 50px;
            z-index: 1;
        }
        .double_img{
            div:nth-child(2){
                img{
                    display: none;
                }
            }
        }
        .align-right{
            text-align: center;
        }
        .content{
            margin-bottom: 30px;
        }
    }
    .engagement{
        .over_image{
            text-align: center;
        }
    }
    .margin-top--120{
        img{
            margin-top: 10px;
        }
    }
	.column{
        column-count: 1;
        column-gap: 60px;
    }
    .bloc-citation-3img{
        margin-top: 80px;
    
        .absolute{
            position: relative;
            z-index: 1;
            h2{
                font-size: 45px;
                letter-spacing: 0px;
                z-index: 1;
                text-align: center;
                margin-bottom: 30px;
            }
        }
        img{
            z-index: -1;
        }
    }
    .bloc-citation-3img{
        margin-top: 80px;

        .absolute{
            position: relative;
            z-index: 1;
            h2{
                font-size: 45px;
                letter-spacing: 0px;
                z-index: 1;
                text-align: center;
                margin-bottom: 30px;
            }
        }
        img{
            z-index: -1;
        }
    }
    .page-template-default .bloc-atelier-photos {
        h2{
           font-size: 3rem; 
        }
        .hover-img{
            position: relative;
            text-align: center;
            width: 100%;
        }
        .content{
            h3{
                font-size: 23px;
                margin-bottom: 30px;
            }
        }
    }
    .gallery .filters{
        ul{
            margin: 50px auto;
            li{
                padding: 15px;
                a{
                    text-transform: uppercase;
                }
            }
        }
    }
    section.prestations .margin-50{
        margin-top: 150px;
        &:first-child{
            margin-top: 0;
        }
    }
    .margin-top--120{
        margin-top: 120px;
    }
    .menu__list .menu__item{
        display: block;
    }
    .modula-gallery .filters .menu__list{
        margin-top: 30px;
    }
    .wpcf7 .content-button{
        width: 100%;
    }
    .shop{
        margin: 12vh 0;
    }
    .bloc-citation-3img{
        margin-top: 150px;
        .absolute{
            top: -57%;
            h2{
                font-size: 37px;
                position: relative;
                z-index: 1;
            }
        }
    }
    .imgfull .row.stretch{
        justify-content: center;
    }

  }
  
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
  
@media (min-width: 320px) and (max-width: 500px) {
    section{
        overflow: hidden;
    }
    .page h3{
        margin: 20px 0;
    }
    .portail{
        article{
            .container-fluid{
                div:nth-child(1){
                    order:3;
                }
            }
        }
    }
    .bloc-citation-3img{
        margin-top: 80px;
    
        .absolute{
            position: relative;
            z-index: 1;
            h2{
                font-size: 45px;
                letter-spacing: 0px;
                z-index: 1;
                text-align: center;
                margin-bottom: 30px;
            }
        }
        img{
            z-index: -1;
        }
    }
    ul.timeline{
        overflow-y: scroll;
    }
    .about .margin-top--120{
        margin-top: 50px;
    }
    .bloc-4_colonnes .button{
        margin-top: 40px;
    }
    .imgfull .row.stretch{
        justify-content: center;
    }
    .shop {
        margin: 12vh 0 30px;
    }
    .home .blog{
        margin: 6vh 0;
    }
    .home .atelier{
        margin: 12vh 0 0;
    }
    .page{
        .timeline-image{
            .loop-1 h3{
                margin-top: 0;
            }
            .loop-2 .rh-order-2{
                order: 0;
            }
            .loop-1, .loop-2, .loop-3, .loop-4{
                margin-bottom: 50px;
                h3{
                    margin: 20px 0;
                }
            }
            .loop-4{
                .content{
                    justify-content: center;
                }
                h3{
                    text-align: center;
                }
                .no-padding{
                    padding: 0;
                }
            }
            .image_2x{
                h3{
                    text-align: center;
                }
                .content-button{
                    margin-bottom: 40px;
                    margin-top: 40px;
                }
            } 
            div.juxtapose{
                padding: 0;
            }
        }
        .engagement {
            .over_image h2{
                font-size: 50px;
                text-align: center;
                margin-bottom: 30px;
            }
            .content{
                padding: 20px 0 0;
            }
            .content-button{
                margin-top: 40px;
            }
        }
        .bloc-atelier-photos{
            margin-top: 70px;
            .hover-img{
                position: relative;
                h2{
                    text-align: center;
                }
            }
            .content{
                padding-top: 0;
                h3{
                    margin-bottom: 20px;
                }
            }
        }
    }

    .fixed-top {
        position: relative;
        display: flex;
        order: 0;
        flex-direction: column;
    }
    .singleorder0{
        order: 0;
        padding-top: 150px;
    }
    .singleorder1{
        order: 1;
        margin-top: 100px;
    }
    .description-type-projet{
        text-align: right;
        padding: 20px;
    }
    body{
        .menu-logo{
            font-size: 30px;
            line-height: 28px;
            left: 13px;
        }
        #page{
            .description-projet{
                text-align: right;
                padding-left: 10%;
            }
        }
        .content-about{
            width: 95%;
        }
        .menu-logo{
            top: 15px !important;
        }
        .mockup_wrap{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title-screen{
                position: relative;
                right: inherit;
                top: 20px;
                left: inherit;
                bottom: inherit;
            }
            .md-imac{
                bottom: 0;  
            }
            .md-macbook-pro, .md-ipad, .md-iphone-5,.md-imac{
                position: relative;
                bottom: 0;
                font-size: 5px;
                margin-bottom: 80px;
                .title-screen{
                    margin-top: 20px;
                    &::before{
                        display: none;
                    }
                }
            }
            .md-macbook-pro{
                font-size: 5px;
                right: inherit;
            }
            .md-iphone-5{
                font-size: 5px;
                left: inherit;
            }
            .md-ipad{
                font-size: 5px;
                left: inherit;
            }
            .description-ipad{
                text-align: center;
                &.title-screen{
                    order: 9;
                }
            }
        }
        .cat{
            margin-bottom: -30px;
        }
        .go-back{
            position: absolute;
            top: -15%;
            right: 0;
        }
        .timeline-wrap{
            margin-top: 150px;
            .timeline{
                flex-direction: column;
                .timeline-item{
                    .p-timeline-item {
                        display: flex;
                        align-items: center;
                        label{
                            display: flex;
                            flex-grow: 1;
                            justify-content: center;
                            width: 50%;
                        }
                        .p-timeline-carmodel{
                            margin-top: inherit;
                            display: flex;
                            flex-grow: 1;
                            justify-content: center;
                            width: 50%;
                            font-size: 14px;
                            padding: 0 10px;
                        }
                    }
                    .p-timeline-block{
                        img{
                            transform: rotate(0);
                        }
                        &:after {
                            content: "";
                            width: 1px;
                            background: #000;
                            height: 410px;
                            display: block;
                            left: 50%;
                            position: absolute;
                            top: 140px;
                        }
                    }
                }
            }
            .cnt{
                padding: 100px 50px;
            }
        }
        .footer-spec{
            text-align: center;
            padding: 20px 20px 0;
        }
        .black{
            height: 150px;
            margin-top: 0;
        }
        .footer-black{
            background: #000;
            width: 100%;
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center;
            color: #fff;
            margin-top: 50px;
            p{
                margin-bottom: inherit;
            }
        }
        #section2col{
            border: 50px solid #fff;
            img{
                padding-top: 50px;
            }
        }
        .moving-title{
            top: -23%;
        }
        .description-title{
            margin: 50px 0 0;
            padding-right: 5px;
        }
        .bg-green{
            margin-left: 12% !important;
        }
        .blocItems .item .content {
            width: 80%;
        }
        .single-portfolio h1{
            text-align: end;
            padding-right: 10px;
        }
    }
    .page-id-472 .col-md-5.offset-2.offset-md-1{
        padding-left: 0 !important;
        .fixed{
            margin-right: 0 !important;
        }
    }
}